@media only screen and (max-width: 500px) {

.homePage {
    display: flex;
    z-index: -1;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:#881A9A;
    border: none;
    outline: none;
    transition: opacity .1s ease;
}

.left-div {
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: #881A9A;
    justify-content: space-around;
    border: none !important;
    outline: none !important;
    width: 50vw;
}

.right-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    background-color: black;
    border: none !important;
    outline: none !important;
    width: 50vw;
}

.text-left {
    color: white;
    font-size: 4rem;    
}

.text-right {
    color: #881A9A;
    font-size: 4rem;
}

}


@media screen and (orientation:landscape)
and (min-device-width: 300px) 
and (max-device-width: 600px) {

    .homePage {
        display: flex;
        z-index: -1;
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color:#881A9A;
        border: none;
        outline: none;
        transition: opacity .1s ease;
    }
    
    .left-div {
        display: flex;
        flex-direction: column;
        text-align: right;
        background-color: #881A9A;
        justify-content: space-around;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .right-div {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        background-color: black;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .text-left {
        color: white;
        font-size: 4rem;    
    }
    
    .text-right {
        color: #881A9A;
        font-size: 4rem;
    }
    
}

@media screen and (orientation:landscape)
and (min-device-width: 600px) 
and (max-device-width: 700px) {

    .homePage {
        display: flex;
        z-index: -1;
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color:#881A9A;
        border: none;
        outline: none;
        transition: opacity .1s ease;
    }
    
    .left-div {
        display: flex;
        flex-direction: column;
        text-align: right;
        background-color: #881A9A;
        justify-content: space-around;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .right-div {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        background-color: black;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .text-left {
        color: white;
        font-size: 4rem;    
    }
    
    .text-right {
        color: #881A9A;
        font-size: 4rem;
    }
}



@media screen and (orientation:landscape)
and (min-device-width: 700px) 
and (max-device-width: 800px) {

    .homePage {
        display: flex;
        z-index: -1;
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color:#881A9A;
        border: none;
        outline: none;
        transition: opacity .1s ease;
    }
    
    .left-div {
        display: flex;
        flex-direction: column;
        text-align: right;
        background-color: #881A9A;
        justify-content: space-around;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .right-div {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        background-color: black;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .text-left {
        color: white;
        font-size: 4rem;    
    }
    
    .text-right {
        color: #881A9A;
        font-size: 4rem;
    }


}

@media screen and (orientation:landscape)
and (min-device-width: 800px) 
and (max-device-width: 900px) {

    .homePage {
        display: flex;
        z-index: -1;
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color:#881A9A;
        border: none;
        outline: none;
        transition: opacity .1s ease;
    }
    
    .left-div {
        display: flex;
        flex-direction: column;
        text-align: right;
        background-color: #881A9A;
        justify-content: space-around;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .right-div {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        background-color: black;
        border: none !important;
        outline: none !important;
        width: 50vw;
    }
    
    .text-left {
        color: white;
        font-size: 4rem;    
    }
    
    .text-right {
        color: #881A9A;
        font-size: 4rem;
    }


}