@media only screen and (max-width: 350px) {

    .other-pages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        }
    
    .other-design {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-development {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-marketing {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-title {
        font-family: Gilroy;
        color: white;
        margin-bottom: 2vh;
        font-size: 2rem;
    }
    
    .other-text {
        font-family: Montserrat;
        color: white;
        font-size: 20px;
        color: #9D9C9C;
    }

}


@media only screen and (min-width: 350px) {

.other-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    }

.other-design {
    z-index: -1;
    margin: 8px 0 8px 3vw;
}

.other-development {
    z-index: -1;
    margin: 8px 0 8px 3vw;
}

.other-marketing {
    z-index: -1;
    margin: 8px 0 8px 3vw;
}

.other-title {
    font-family: Gilroy;
    color: white;
    margin-bottom: 2vh;
    font-size: 2rem;
}

.other-text {
    font-family: Montserrat;
    color: white;
    font-size: 20px;
    color: #9D9C9C;
}

}


@media screen and (orientation:landscape)
and (min-device-width: 300px) 
and (max-device-width: 600px) {

    .other-pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        z-index: -1;
        }
    
    .other-design {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-development {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-marketing {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-title {
        font-family: Gilroy;
        color: white;
        margin-bottom: 2vh;
        font-size: 2rem;
    }
    
    .other-text {
        font-family: Montserrat;
        color: white;
        font-size: 20px;
        color: #9D9C9C;
    }
    
}

@media screen and (orientation:landscape)
and (min-device-width: 600px) 
and (max-device-width: 700px) {

    .other-pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: 70vh;
        z-index: -1;
        }
    
    .other-design {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-development {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-marketing {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-title {
        font-family: Gilroy;
        color: white;
        margin-bottom: 2vh;
        font-size: 2rem;
    }
    
    .other-text {
        font-family: Montserrat;
        color: white;
        font-size: 20px;
        color: #9D9C9C;
    }


}


@media screen and (orientation:landscape)
and (min-device-width: 700px) 
and (max-device-width: 800px) {

    .other-pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: 70vh;
        z-index: -1;
        }
    
    .other-design {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-development {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-marketing {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-title {
        font-family: Gilroy;
        color: white;
        margin-bottom: 2vh;
        font-size: 2rem;
    }
    
    .other-text {
        font-family: Montserrat;
        color: white;
        font-size: 20px;
        color: #9D9C9C;
    }


}

@media screen and (orientation:landscape)
and (min-device-width: 800px) 
and (max-device-width: 900px) {

    .other-pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        height: 70vh;
        z-index: -1;
        }
    
    .other-design {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-development {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-marketing {
        z-index: -1;
        margin: 8px 0 8px 3vw;
    }
    
    .other-title {
        font-family: Gilroy;
        color: white;
        margin-bottom: 2vh;
        font-size: 2rem;
    }
    
    .other-text {
        font-family: Montserrat;
        color: white;
        font-size: 20px;
        color: #9D9C9C;
    }


}