@media only screen and (max-width: 500px) {

.other-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    margin-left: 3vw;

    }

.other-design {
    z-index: -1;
}

.other-development {
    z-index: -1;
}

.other-marketing {
    z-index: -1;
}

.other-title {
    color: white;
    margin-bottom: 2vh;
    font-size: 2rem;
}

.other-text {
    color: white;
    font-size: 1.6rem;
    color: #9D9C9C;
}

}