@media only screen and (max-width: 500px) {

.other-pages {
    display: flex;
    flex-direction: column;
    }

.other-design {
    margin-top: 6vh;
    margin-left: 3vw;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
 }

.other-development {
    display: flex;
    margin-left: 3vw;
    z-index: -1;
    flex-direction: column;
    width: 100vw;
    height: 30vh;
}

.other-marketing {
    display: flex;
    z-index: -1;
    flex-direction: column;
    margin-left: 3vw;
    width: 100vw;
    height: 40vh;
}

.other-title {
    color: white;
    margin-bottom: 2vh;
    font-size: 2rem;
}

.other-text {
    color: white;
    font-size: 1.6rem;
    color: #9D9C9C;
}

}